:root,
#buddy-beep-google-sidebar:host {
  --buddy-beep-google-sidebar-width: 420px;
}

body.buddy-beep-google-sidebar-show,
body.buddy-beep-google-sidebar-show * {
  max-width: calc(100vw - var(--buddy-beep-google-sidebar-width));
}

#buddy-beep-google-sidebar {
  position: fixed;
  z-index: 240;
  top: 0px;
  right: 0px;
}
